<%- include('includes/head.ejs') %>
    <h1 id="principal">Este sitio es de animales</h1>
    <h2><%= username %>, aquí cambias a los animales:</h2>
    <form action="/capybaras/actualizar" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <label for="id">Número del animal que deseas cambiar: </label>
        <input type="text" id="id" name="id" placeholder="1" required>
        <label for="nombre">Nombre: </label>
        <input type="text" id="nombre" name="nombre" placeholder="Pedro" required>
        <label for="descripcion">Descipción: </label>
        <input type="text" id="descripcion" name="descripcion" placeholder="Le gusta la piña" required>
        <label for="Imagen">Imagen: </label>
        <input type="file" id="imagen" name="imagen" required>
        <br><br>
        <input type="submit" value="Enviar">
    </form>
    <br><br>
    <a href="/capybaras">Regresar a la lista de animales</a>
<%- include('includes/foot.ejs') %>
