<DOCTYPE html>
  <html lang="es-mx">
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
  <style> 
  header{text-align: center;padding: 3px;background-color: blue;color: white;} 
  </style> 
  <header> 
  <img src="https://queretaro.itesm.mx/wp-content/uploads/2015/06/LogoTecPeque%C3%B1o.png" width="300" height="100" class = "logo"> 
  <h1>Lab 17: Interacción con la base de datos</h1> 
  </header> 
  </head>