<%- include('includes/head.ejs') %>
    <h1 id="principal">Bienvenido al mundo de los animales</h1>
    <h2>Ingresa tus credenciales para iniciar sesión:</h2>
    <form action="/users/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <label for="username">Nombre de usuario: </label>
        <input type="text" id="username" name="username" placeholder="Pedro">
        <label for="password">Contraseña: </label>
        <input type="password" id="password" name="password">
        <br><br>
        <input type="submit" value="Enviar">
        <br><br>
        <img id="random" name="random" src="https://picsum.photos/500">
        <br><br> 
        <label for="random">Imagen Aleatoria proporcionada por servicio web PicSum</label>
        <br><br> 
        <a href="/users/signup">Dar de alta nuevo usuario</a>
    </form>
    <br><br>
<%- include('includes/foot.ejs') %>