<%- include('includes/head.ejs') %>
<h1 id="principal">Este sitio es de capybaras</h1>
<h2>¿Deseas regresar a la lista de capybaras originales?</h2>
<form action="original" method="POST">
<input type="submit" value="Si">
</form>
<br><br>
<a href="/">No, regresar a la lista actual de capybaras</a>
</body>
<%- include('includes/foot.ejs') %>