footer {
  text-align: center;
  padding: 3px;
  background-color: rgba(0, 0, 255, 0.575);
  color: white;
}
header {
  text-align: center;
  padding: 3px;
  background-color: blue;
  color: white;
}
nav {
  text-align: center;
  padding: 3px;
  background-color: rgba(0, 132, 255, 0.692);
  color: white;
}
section {
  text-align: center;
  padding: 3px;
  background-color: cyan;
  color: black;
}
aside {
width: 30%;
padding-left: 15px;
margin-left: 15px;
float: right;
font-style: italic;
background-color: lightgray;
}
